.login-page2{
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.login-formulaire2{
    position: fixed;
    width: 400px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    animation: afficher 0.5s ease-in-out;
}

.inscription-4 input[type=submit]{
    margin-top: 10px;
}
.inscription-4 input{
    top: 250px;
}
