.head{
  width: 100%;
  height: 70px;
  
  top: 0;
  right: 0;
  left: 0;
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  background-color: white;
  font-family: 'Akaya Telivigala',cursive;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.logo{
  
  display: inline;
  left: 30px;
  font-size: 24px;
  font-family: sans-serif;
}
.logo h5,.logo h3{
  display: inline;
}
.logo h5{
  color: blue;
}
.head ul{
  display: inline;
 
  right: 270px;
  top: 50%;
  transform: translateY(-50%);
}
.head li{
  display: inline;
  margin-right: 20px;
  font-size: 15px;
  right: 20px;
  position: absolute;
}
.head li a{
  color: rgba(0, 0, 0, 0.7);
  padding: 5px;
}
.head li a:hover{
  color: blue;
  transition: 0.5s linear;
  border-bottom: 1px solid blue;
}
.iconLog,.iconUpDown,.logo{
 
  top: 50%;
  transform: translateY(-50%);
}
.iconUpDown{
  right: 30px;
  cursor: pointer;
}
.iconLog{
  right: 45px;
  cursor: pointer;
}
.buttonDéposition{
 position: absolute;
  top: 19px;
  right: 100px;
  padding: 8px;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 8px rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 14px;
}
.buttonDéposition:hover{
  position: absolute;
  box-shadow: 0 0 16px blue;
  transform: scale(1.1);
  position: absolute;
}
.box_login{
  visibility: hidden ;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  position: absolute;
  right:10px;
  top:65px;
  box-shadow: 0 0 5px black;
}
.li_login{
  display: block;
  margin: 0px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}
.li_login:hover{
  background-color: rgba(0, 0, 0, 0.2);
}